/* Styling For App */

#app-container {
    border: 2px solid red;
    border-radius: 15px;

    background-color: #FFC0CB;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.weather-app-heading{
    text-align: center;
    font-size: 40px;
    margin: auto;
    width: 88%;
    margin-top: 40px;
    margin-bottom: 40px;

    font-family: sans-serif;
}

.weather-data-div, .weather-app-sentence {
    display: none;
}

.weather-app-sentence-display {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 15px;
    background-color: white;
    width: 80%;
    margin: auto;
}

.weather-data-div-display {

    border: 2px solid red;
    background-image: url("../Images/red-orange-gradient.jpg");
    height: 250px;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;

    color: white;

    position: relative;
}

.temp {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-data {
    display: block;
    margin: auto; 
}

#input-field{
    border: 2px solid red;
    border-radius: 15px;
    text-align: center;
    height: 45px;
    width: 90%;

    font-size: 28px;
}

#weather-button, .reset-button-display {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px 12px;
    background-color: #FF3D00;
    border: 2px solid red;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    color: white;

    font-size: 24px;
}

.divider, #reset-button{
    display: none;
}

.divider-display {
    border: 2px solid red;
    width: 70%;
}

#weather-button:hover{
    background-color: #ff4f1a;
    transform: scale(1.02); 
}

